body{
  display: flex;
  flex-direction: row; 
  height: 100vh;
  text-align: left; 
  margin: 0 auto; 
  font-family: Arial;
  justify-content: center; 
}

h1{
  font-size: 3rem;
}

#loginInfo{
  color: white;
  background: linear-gradient(45deg, #4BAAF6, #1A72C3);
  padding: 2%; 
  justify-content: center;
  width: 35vw; 
}

#loginForm{
  display: flex;
  flex-direction: column; 
  min-width: 60%;
  margin: auto;
  margin-left: 2%;
  justify-content: center; 
}

form{
  display: flex; 
  flex-direction: column; 
  justify-content: left;
}

button{
  color: white;
  background-color: #4C6EF5; 
  padding: 2%;
  border: none; 
  border-radius: 5px;
  font-weight: 900;
  font-size: 16px;
}

password-recovery{
  background-color: transparent;
  color: #1C7ED6;
}

input{
  border-radius: 2px; 
  border: 2px solid #CED4DA; 
  padding: 2%;
  margin: 2%;
  width: 100%; 
}

label{
  color: #3E444A;
  font-weight: bold; 
}

button-row{
  flex-direction: column; 
  margin-top: 1rem;
}

