/* Color palette used! 
https://coolors.co/ced4da-3e444a-4559a0-4baaf6-1a72c3-4c6ef5-1c7ed6

Copy this link to see the colors they correspond to! 
*/

/* Minimal CSS reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gradient-top-left: #4BAAF6;
  --gradient-bottom-right: #1A72C3;
  --sign-in-color: #4C6EF5;
  --button-hover-color: #4559A0; 
  --input-border-color: #CED4DA; 
  --label-color: #3E444A;
  --forgot-color: #1C7ED6;
  
  /* font sizes and styling*/
  --loginInfo-h1: 2.5rem;
  --general-font-size: 0.875rem;/*14px*/
  --button-font-weight: 900; 
  
  /* Misc */
  --border-rad: 0.313rem; /*5px*/
  --transition-time: 0.3s; 
  --default-padding: 2%; 
  --marg-bottom: 4%;
}

body{
  display: flex;
  flex-direction: row; /*? optional*/
  height: 100vh; /*fallback*/
  height: 100dvh;
  text-align: left; /*? optional*/
  margin: 0 auto; 
  font-family: Arial;
  justify-content: center; /*? optional*/
}

#loginInfo h1{
  font-size: var(--loginInfo-h1);
  margin-bottom: var(--marg-bottom);
}

#loginInfo p{
  line-height: 1.5;
  max-width: 18rem; /*so paragraph matches image*/
}

#loginInfo{
  color: white;
  background: linear-gradient(135deg, var(--gradient-top-left),  var(--gradient-bottom-right));
  padding: var(--default-padding); 
  width: 100%; 
}

#loginForm{
  display: flex;
  flex-direction: column; 
  min-width: 70%;
  margin-left: 4%;
  margin-right: 2%;
  justify-content: center; 
}

form{
  display: flex; 
  flex-direction: column; 
  justify-content: left;
}

/* make some generalized
version for buttons*/
Button[type="Submit"]{
  color: white;
  background-color: var(--sign-in-color); 
  padding: 2% 4%;
  border: none; 
  border-radius: var(--border-rad);
  font-weight: var(--button-font-weight);
  font-size: var(--general-font-size);
  cursor: pointer;
}

Button[type="Submit"]:hover {
  background-color: var(--button-hover-color);
  transition: var(--transition-time);
}

#forgot{
  text-decoration: none;
  color: var(--forgot-color);
  font-size: var(--general-font-size);
}

#forgot:hover {
  text-decoration: underline;
  color: var(--button-hover-color);
  transition: var(--transition-time); 
}

input{
  border-radius: var(--border-rad); 
  border: 2px solid var(--input-border-color); 
  padding: var(--default-padding);
  margin-top: 1%;
  margin-bottom: var(--marg-bottom);
  width: 100%; 
}

input::placeholder{
  font-size: var(--general-font-size);
}

label{
  color: var(--label-color);
  font-weight: bold; 
  font-size: var(--general-font-size);
}

button-row{
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
