/* Color palette used! 
https://coolors.co/ced4da-757575-3e444a-4559a0-4baaf6-1a72c3-4c6ef5-1c7ed6

Copy this link to see the colors they correspond to! 
*/

/* Minimal CSS reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gradient-top-left: #4baaf6;
  --gradient-bottom-right: #1a72c3;
  --sign-in-color: #4c6ef5;
  --button-hover-color: #4559a0;
  --input-border-color: #ced4da;
  --input-text-color: #757575;
  --label-color: #3e444a;
  --forgot-color: #1c7ed6;

  /* font sizes and styling*/
  --loginInfo-h1: 2.5rem;
  --general-font-size: 0.875rem; /*14px*/
  --button-font-weight: 900;

  /* Misc */
  --border-rad: 0.313rem; /*5px*/
  --card-border-rad: 0.625rem; /*10 px*/
  --transition-time: 0.3s;
  --default-padding: 2%;
  --default-marg: 2%;
}

body {
  display: flex;
  height: 100vh; /*fallback*/
  height: 100dvh;
  margin: 0 auto;
  font-family: Arial;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 0.3fr 0.9fr;  /* two columns */
  width: 95vw;
  height: 95vh;
  border-radius: var(--card-border-rad);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

#loginInfo h1 {
  font-size: var(--loginInfo-h1);
  margin-bottom: 6%;
}

#loginInfo p {
  line-height: 1.5;
  max-width: 18rem; /*so paragraph matches img*/
}

Section[id="loginInfo"] {
  color: white;
  background: linear-gradient(
    135deg,
    var(--gradient-top-left),
    var(--gradient-bottom-right)
  );
  padding: 6%;
  width: 100%;
  /*to center it vertically with flexbox:*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

Section[id="loginForm"] {
  display: flex;
  flex-direction: column;
  min-width: 70%;
  margin-left: 4%;
  margin-right: var(--default-marg);
  justify-content: center;
  padding-top: var(--default-padding);
  padding-bottom: var(--default-padding); 
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

Button[type="Submit"] {
  color: white;
  background-color: var(--sign-in-color);
  padding: 1% var(--default-padding);
  border: none;
  border-radius: var(--border-rad);
  font-weight: var(--button-font-weight);
  font-size: var(--general-font-size);
  cursor: pointer;
}

Button[type="Submit"]:hover {
  background-color: var(--button-hover-color);
  transition: var(--transition-time);
}

#forgot {
  text-decoration: none;
  color: var(--forgot-color);
  font-size: var(--general-font-size);
}

#forgot:hover {
  text-decoration: underline;
  color: var(--button-hover-color);
  transition: var(--transition-time);
}

input {
  border-radius: var(--border-rad);
  border: 2px solid var(--input-border-color);
  padding: 1.5%;
  margin-top: 1%;
  margin-bottom: var(--default-marg);
  width: 100%;
}

input::placeholder {
  font-size: var(--general-font-size);
  color: var(--input-text-color);
}

label {
  color: var(--label-color);
  font-weight: bold;
  font-size: var(--general-font-size);
}

button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

